body {
    background-color: rgb(2, 0, 36);
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.box {
    height: 10vh;
    width: 50vw;
    display: flex;
    border-radius: 2vw;
    justify-content: center;
    background-color: white;
    position: relative
}

.handle {
    cursor: grab;
    width: 2vw;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 3vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1vh;
}

.cell {
    background-color: lightgray;
    height: 1.25vh;
    width: 1.25vh;
}

input {
    border: none;
    padding: 0 1vh;
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

input:focus {
    outline: none;
}

.github-corner {
    height: 15vh;
    width: 15vh;
    color: rgb(2, 0, 36);
    fill: rgb(0, 213, 255);
    position: absolute;
    top: 0;
    border: 0;
    left: 0;
    transform: scale(-1, 1);
}

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
}

@keyframes octocat-wave {

    0%,
    100% {
        transform: rotate(0)
    }

    20%,
    60% {
        transform: rotate(-25deg)
    }

    40%,
    80% {
        transform: rotate(10deg)
    }
}

@media (max-width:500px) {
    .github-corner:hover .octo-arm {
        animation: none
    }

    .github-corner .octo-arm {
        animation: octocat-wave 560ms ease-in-out
    }
}